<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Some Title To Be Ignored</title>
  </head>
  <body>
    <p>There is no song, just a delusion of silence.</p>
    <p>We dance and the music dies.</p>
    
    <p>Interestingly enough in HTML there are </p>
    <ul>
      <li>accepted bad habits and sloppy tags like this one that are not properly closed </p>
      <li>even tags like <br> and <img src="none.gif"> that have no closing counterpart 
      <li>or attributes like <hr noshade> that have no value
      <li>and entities like &eacute; and &copy; that simply do not exist in XML
    </ul>
  </body>
</html>
