<?xml version="1.0"?>
<web-app>
  <servlet>
     <servlet-name>KauriServlet</servlet-name>
     <servlet-class>org.lilyproject.runtime.servlet.KauriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KauriServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
